pipupgui_banned.txt
.idea/
build/
dist/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pyvenv.cfg
Scripts
.venv
requirements.txt
